




/*
Custom styles
*/

.App {
  display: flex;
  margin-left:  auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
    transform: translateY( 50%);

}

.element {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 10px solid gray;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.element:hover {
    cursor: cell;
  background-color: darkseagreen;
}

.btn {
    margin: 5px auto;
    padding: 10px 4px;


}

.btn button {
    font-size: 22px;
    font-weight: 500;
    border: 4px solid yellowgreen;
    color: yellowgreen;
    background: linear-gradient(to bottom left,#32BEED,#154A94);
}
.btn button:hover {

    border: 6px solid darkblue;
    color: ghostwhite;
    background: linear-gradient(90deg,#000,#fff);
}